# Virtual environment
.venv/
venv/

.env

# Python cache
__pycache__/
*.pyc
.pytest_cache/

# Logs
logs/
*.log

# Notebooks checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Data outputs
data/raw/*
data/processed/*
data/output/*

# Temporary files
temp/
tmp/

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/output/.gitkeep
!data/output/consolidated/.gitkeep
!data/output/profiling/.gitkeep
!data/output/reports/.gitkeep
!data/output/validation/.gitkeep